<!doctype html>
<html lang="pt-br">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <title>Q-benefícios</title>
</head>

<body>

    <div class="logo">
        <div class="image">
            <a href="/"><img src="images/icone.jpeg" alt=""></a>
        </div>
            
        <div class="text_logo">
            <h1>Q-benefícios</h1>
        </div>        
    </div>
    
    <div class="wrapper_lists">
        <div class="container">
            <% if(vector_roles.length > 0) { %>
<!--                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"> -->
                    <table class="table table-hover">
                        <thead class="table-danger">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOME</th>
                            <th scope="col">SALÁRIO</th>
                            <th scope="col">BENEFÍCIO 1</th>
                            <th scope="col">VALOR DO BENEFICIO 1</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < vector_roles.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= vector_roles[i].name %></td>
                                    <td><%= vector_roles[i].salary %></td>
                                    <td><%= vector_roles[i].benefit_one %></td>
                                    <td><%= vector_roles[i].value_benefit_one %></td>
                                    <td><a href="/update_role?id=<%= vector_roles[i]._id %>">
                                        <img src="images/update_icon.png" class="icon" alt="Atualizar"/>
                                    </a></td>
                                    <td><a href="/delete_role?id=<%= vector_roles[i]._id %>">
                                        <img src="images/delete_icon.jpeg" class="icon" alt="Remover">
                                    </a></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                
            <% } %>
        </div>
<!--   </div>      -->
    </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/Chart.bundle.js"></script>
    <script src="js/bootstrap.bundle.js"></script>
    
</body>
 
</html>