<!doctype html>
<html lang="pt-br">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <title>Cadastro de Cargos</title>
</head>

<body>

    <div class="logo">
        <div class="image">
            <img src="images/icone.jpeg" alt="">
        </div>
            
        <div class="text_logo">
            <h1>Q-benefícios</h1>
        </div>        
    </div>

    <div class="form_style">
    <div class="container">
        <% if(role.length == 0) { %>
        <form class="needs-validation" method="POST" action="/register_role">
            <div class="form-row">
                <div class="form-group col-md-9">
                <label for="name">Nome do Cargo (*)</label>
                <input type="name" class="form-control" id="name" name="name" placeholder="Ex: FullStack" required>
                </div>

                <div class="form-group col-md-3">
                <label for="salary">Salário (*)</label>
                <input type="number" min="0" class="form-control" id="salary" name="salary" placeholder="Ex: 1.000,00" required>
                </div>
            </div>
            <div class="form-group">
                <label for="main_task_one">Principal Atribuição 1 (*)</label>
                <input type="text" class="form-control" id="main_task_one" name="main_task_one" placeholder="Ex: Desenvolver APIs" required>
            </div>
            <div class="form-group">
                <label for="main_task_two">Principal Atribuição 2</label>
                <input type="text" class="form-control" id="main_task_two" name="main_task_two" placeholder="Ex: Limpar o código">
            </div>
            <div class="form-group">
                <label for="main_task_three">Principal Atribuição 3</label>
                <input type="text" class="form-control" id="main_task_three" name="main_task_three" placeholder="Ex: Atuar como DevOps">
            </div>
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="benefit_one">Benefício 1 (*)</label>
                    <input type="text" class="form-control" id="benefit_one" name="benefit_one" placeholder="Ex: Vale-Transporte" required>
                    </div>
    
                    <div class="form-group col-md-3">
                    <label for="value_benefit_one">Valor do Benefício 1 (*)</label>
                    <input type="number" min="0" class="form-control" id="value_benefit_one" name="value_benefit_one" placeholder="Ex: 1.000,00" required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="benefit_two">Benefício 2</label>
                    <input type="text" class="form-control" id="benefit_two" name="benefit_two" placeholder="Ex: Vale-Alimentação">
                    </div>
    
                    <div class="form-group col-md-3">
                    <label for="value_benefit_two">Valor do Benefício 2</label>
                    <input type="number" min="0" class="form-control" id="value_benefit_two" name="value_benefit_two" placeholder="Ex: 1.000,00">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="benefit_three">Benefício 3</label>
                    <input type="text" class="form-control" id="benefit_three" name="benefit_three" placeholder="Ex: Bonus">
                    </div>
    
                    <div class="form-group col-md-3">
                    <label for="value_benefit_three">Valor do Benefício 3</label>
                    <input type="number" min="0" class="form-control" id="value_benefit_three" name="value_benefit_three" placeholder="Ex: 1.000,00">
                </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-10">
                    <button type="submit" class="btn btn-primary">CADASTRAR</button>
                </div>
                <div class="form-group col-md-1">
                    <a href="/"><button type="button" class="btn btn-info">CANCELAR</button></a>
                </div>
            </div>
        </form>
        <% } else {%>
            <form class="needs-validation" method="POST" action="/register_role?id=<%= validation %>">
                <div class="form-row">
                    <div class="form-group col-md-9">
                    <label for="name">Nome do Cargo (*)</label>
                    <input type="name" class="form-control" value="<%= role[0].name %>" id="name" name="name" placeholder="Ex: FullStack" required>
                    </div>
    
                    <div class="form-group col-md-3">
                    <label for="salary">Salário (*)</label>
                    <input type="number" min="0" class="form-control" value="<%= role[0].salary %>" id="salary" name="salary" placeholder="Ex: 1.000,00" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="main_task_one">Principal Atribuição 1 (*)</label>
                    <input type="text" class="form-control" value="<%= role[0].main_task_one %>" id="main_task_one" name="main_task_one" placeholder="Ex: Desenvolver APIs" required>
                </div>
                <div class="form-group">
                    <label for="main_task_two">Principal Atribuição 2</label>
                    <input type="text" class="form-control" value="<%= role[0].main_task_two %>" id="main_task_two" name="main_task_two" placeholder="Ex: Limpar o código">
                </div>
                <div class="form-group">
                    <label for="main_task_three">Principal Atribuição 3</label>
                    <input type="text" class="form-control" value="<%= role[0].main_task_three %>" id="main_task_three" name="main_task_three" placeholder="Ex: Atuar como DevOps">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="benefit_one">Benefício 1 (*)</label>
                        <input type="text" class="form-control" value="<%= role[0].benefit_one %>" id="benefit_one" name="benefit_one" placeholder="Ex: Vale-Transporte" required>
                        </div>
        
                        <div class="form-group col-md-3">
                        <label for="value_benefit_one">Valor do Benefício 1 (*)</label>
                        <input type="number" min="0" class="form-control" value="<%= role[0].value_benefit_one %>" id="value_benefit_one" name="value_benefit_one" placeholder="Ex: 1.000,00" required>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="benefit_two">Benefício 2</label>
                        <input type="text" class="form-control" value="<%= role[0].benefit_two %>" id="benefit_two" name="benefit_two" placeholder="Ex: Vale-Alimentação">
                        </div>
        
                        <div class="form-group col-md-3">
                        <label for="value_benefit_two">Valor do Benefício 2</label>
                        <input type="number" min="0" class="form-control" value="<%= role[0].value_benefit_two %>" id="value_benefit_two" name="value_benefit_two" placeholder="Ex: 1.000,00" required>
                    </div>
                </div>
    
                <div class="form-row">
                    <div class="form-group col-md-9">
                        <label for="benefit_three">Benefício 3</label>
                        <input type="text" class="form-control" value="<%= role[0].benefit_three %>" id="benefit_three" name="benefit_three" placeholder="Ex: Bonus">
                        </div>
        
                        <div class="form-group col-md-3">
                        <label for="value_benefit_three">Valor do Benefício 3</label>
                        <input type="number" min="0" class="form-control" value="<%= role[0].value_benefit_three %>" id="value_benefit_three" name="value_benefit_three" placeholder="Ex: 1.000,00">
                    </div>
                </div>
    
                <button type="submit" class="btn btn-primary">ATUALIZAR</button>
            </form>
        <% } %>
    </div>
    </div>


    <script src="js/bootstrap.bundle.js"></script>

</body>
 
</html>